{#login/templates/login/index.html#}

{% extends 'base.html' %}

{% block title %}个人主页{% endblock %}
{% block content %}
{% if user %}
<h2 style="text-align:center"> User_id : {{ user.user_id }} <h2/>
  <p style="text-align:center"> videos: <p/>
{% endif %}
  <style>
        .main{
            width: 100%;
            padding-left: 12%;
            overflow: hidden;
            padding-bottom: 25px;
        }
        .fit-picture{
            width: 30%;
            height: 200px;
            float: left;
            margin-left: 2%;
            margin-top: 25px;
        }
        .fit-picture img{
            float: left;
            width: 200px;
            height: 200px;

        }
        .fit-picture a{
            float: left;
            margin-top: 80px;
            margin-left: 10px;
            width: 50px;
        }
    </style>
  <div class="main">
  {% for vid in videos %}
    <div class="fit-picture">
    <img src="{{vid.cover.url}}"/>
    <a href="{% url 'single_video' vid.id %}">{{ vid.title }}</a>
    </div>
  {% endfor %}

  </div>

{% endblock %}