{#login/templates/login/index.html#}

{% extends 'base.html' %}

{% block title %}个人主页{% endblock %}
{% block content %}
{% if user %}
    <script type="text/javascript">
        function postsub(){
        const url = "../subscribe/";
        let csrf = "{{ csrf_token }}";
        var form_data = new FormData();
        var btn = document.getElementById("btn");
        var type = btn.getAttribute("value");
        form_data.append("type", type);
        form_data.append("csrfmiddlewaretoken", csrf);
        form_data.append("from_user", "{{ request.session.user_id }}");
        form_data.append("to_user", "{{ user.user_id }}");
        var request = new XMLHttpRequest();
        request.open("POST", url, true);
        request.send(form_data);
        var cnt = 0;
        request.onreadystatechange = function() {
            if(request.readyState == 4 && request.status == 200){
                if(type == "sub"){
                    btn.setAttribute("value", "delsub");
                    btn.innerText = "-取消订阅";
                    alert("订阅成功");
                }else if(type == "delsub"){
                    btn.setAttribute("value", "sub");
                    btn.innerText = "+点击订阅";
                    alert("取消订阅成功");
                }else{
                    alert("unknonw type");
                }
            }else if(request.readyState == 4){
                cnt ++;
                console.log(cnt);
                if(type == "sub") {
                    alert("订阅失败，请稍后再试");
                }else if(type == "delsub"){
                    alert("取消订阅失败，请稍后再试");
                }else{
                    alert("unknown type");
                }
            }
        }
    }
    </script>
<h2 style="text-align:center"> User_id : {{ user.user_id }}

</h2>
    {% if request.session.user_id != user.user_id%}
    <div style="text-align: center">
        {% if not sub %}
            <button style="height: 30px;width: 80px;margin-top: 10px;background-color: #fb7fa2;color: white;border-style: none;" id="btn" onclick="postsub()" value="sub">+点击订阅</button>
        {% else %}
            <button style="height: 30px;width: 80px;margin-top: 10px;background-color: #fb7fa2;color: white;border-style: none;" id="btn" onclick="postsub()" value="delsub">-取消订阅</button>
        {% endif %}
    </div>
    {% endif %}
    <p style="text-align:center;font-size: 30px;margin-top: 15px"> videos: </p>
{% endif %}
  <style>
        .main{
            width: 100%;
            padding-left: 12%;
            overflow: hidden;
            padding-bottom: 25px;
        }
        .fit-picture{
            width: 30%;
            height: 200px;
            float: left;
            margin-left: 2%;
            margin-top: 25px;
        }
        .fit-picture img{
            float: left;
            width: 200px;
            height: 200px;

        }
        .fit-picture a{
            float: left;
            margin-top: 80px;
            margin-left: 10px;
            width: 50px;
        }
    </style>
  <div class="main">
  {% for vid in videos %}
    <div class="fit-picture">
    <img src="{{vid.cover.url}}"/>
    <a href="{% url 'single_video' vid.id %}">{{ vid.title }}</a>
    </div>
  {% endfor %}

  </div>

{% endblock %}