<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>
    <ul>
    {% if video %}
        video : {{video.title}}
            <video width="320" height="240" controls="controls">
            <source src={{video.path}} type="video/mp4" />
            <source src={{video.path}} type="video/ogg" />
            Your browser does not support the video tag.
            </video>
    {% else %}
        <p>No video</p>
    {% endif %}
    </ul>
</div>
</html>